# Dependencies
node_modules/

# Environment variables
.env
*.env.local

# Database
backend/data/

# Build output
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
